configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  drun-display-format: "{icon} {name}";
  font: "Hack Nerd Font";
  modi: "window,run,drun";
  show-icons: true;
  icon-theme: "Papirus-Dark";
}

@theme "/home/vincent/.config/rofi/themes/spotlight-dark.rasi"

* {
  // Focus color 
  bg2:    #F07178;
}

window {
  width: 30%;
  height: 30%;
}

element-icon {
  size: 30;
}
